<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head', { pageTitle: 'Student List' }) %>
</head>
<body>
    <h1>Student List</h1>
    <%- include('partials/navigation') %>
    <ul>
        <% students.forEach(function(student) { %>
            <li>
                <p><%= student.fullName %></p>
                <p><%= student.code %></p>
                <p><%= student.fieldOfStudies %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>
